@import "../../../styles/variables@media.scss";

.footer a:hover {
	color: var(--js_hover_color_links_pages);
	box-shadow: 0 0.7px 0 0;
}

.footer a:focus {
	color: var(--js_color_links_pages);
}

.footer a {
	color: var(--js_color_links_pages);
}

.footer a {
	box-shadow: 0 0.5px 0 0;
}

.edit a {
	color: rgb(77 77 77);
	box-shadow: 0 0.2px 0 0;
}

.edit a:hover {
	box-shadow: 0 0.7px 0 0;
}


.content_list {
	display: grid;
	justify-content: flex-start;
	text-align: left;
	font-weight: 400;
	cursor: pointer;
	li {
		border-bottom: 1px solid gray;
		font-size: 20px;
		padding:15px 5px;
		
		&:hover {
			background-color: rgba(90, 90, 90, 0.24);
		}
	}
}
@media screen and (max-width: #{$screen_mobile_785}) {
	.footer a:focus {
		color: var(--js_color_links_pages_mobile);
	}

	.footer a {
		color: var(--js_color_links_pages_mobile);
	}


}
