.articles {
	margin-top: 65px;
	display: grid;
	justify-content: center;
	gap: 30px;
	grid-template-columns: repeat(2, minmax(245px,450px));
	grid-template-rows: 1fr 1fr;
	margin-bottom: 50px;
	max-height: 50%;

	
}

@media (max-width: 1000px) {
	.articles {
		
		align-items: center;
		justify-content: center;
		grid-template-columns: 1fr;
	}
}





