.footer {
	display: flex;
	justify-content: space-between;

	margin-bottom: 50px;

	color: var(--react_color_links_pages);
}

.footer a:hover {
	color: var(--react_hover_color_links_pages);
	box-shadow: 0 0.7px 0 0;
}

.footer a:focus {
	color: var(--react_color_links_pages);
}

.footer a {
	box-shadow: 0 0.5px 0 0;
}

.edit a {
	color: rgb(77 77 77);
	box-shadow: 0 0.2px 0 0;
}

.edit a:hover {
	box-shadow: 0 0.7px 0 0;
}

@media (max-width: 500px) {
	.footer a {
		border-bottom: 1px solid var(--react_color_links_pages);
		box-shadow: 0 0 0 0;
	}
}
