.listMenu {
	display: grid;
	justify-content: left;

	width: 300px;
	margin-top: 0;
	padding-right: 10px;
	padding-left: 25px;
	grid-template-columns: 250px;
}

.index_list_menu {
	display: flex;
	flex-direction: column;

	width: 365px;
	margin: 0;
	margin-right: 20px;
	margin-left: 20px;
	padding: 0;

	white-space: nowrap;
	gap: 10px;
}

.index_list_menu a {
	display: flex;
}

.index_btn {
	display: grid;
	justify-content: center;
}

.btn {
	display: grid;
	justify-content: left;

	width: 300px;
}

.navMenu {
	margin-top: 60px;
}

.navMenu button:hover {
	color: black;
}

.link {
	display: inline-block;

	list-style-type: none;

	transition: all 0.1s;

	font-size: 15px;
	font-weight: 400;
	line-height: 16px;
}

.listMenu .link a:hover {
	transition: all 0.1s;

	color: rgb(137 137 137);
}

.index_list_menu .link a:hover {
	transition: all 0.1s;
	color: rgb(137 137 137);
}

.active_js {
	list-style-type: none;

	color: var(--js_color_links_pages);

	font-size: 15px;

	line-height: 16px;
}

.active_js a {
	pointer-events: none;
	
}

.active_js:hover {
	cursor: pointer;
	color: var(--js_hover_color_links_pages);

}



.active_ts {
	list-style-type: none;

	color: var(--ts_color_links_pages);

	font-size: 15px;

	line-height: 16px;
}

.active_ts:hover {
	cursor: pointer;
	color: var(--ts_hover_color_links_pages);
}

.active_ts a {
	pointer-events: none;

}

.active_react {
	list-style-type: none;

	color: var(--react_color_links_pages);

	font-size: 15px;

	line-height: 16px;
}

.active_react:hover {
	cursor: pointer;
	color: var(--react_hover_color_links_pages);
}

.active_react a {
	pointer-events: none;

}
.dropdownContent {
	display: show;
}

.show {
	display: block;

	margin-top: 10px;
}

.hide {
	display: none;

	width: 0;
	margin: 0;
	padding: 0;
}

.nonLink {
	display: none;
}

.title {
	margin-top: 30px;
	padding-right: 10px;
	padding-left: 20px;

	text-transform: uppercase;

	color: rgb(109 109 109);

	font-size: 14px;
	font-weight: 700;
	font-weight: bold;
	line-height: 15px;
}

@media (max-width: 1315px) {
	.listMenu {
		grid-template-columns: 225px;

		padding-left: 40px;
	}

	.btn {
		margin-left: 15px;
	}
}

@media (max-width: 1255px) {
	.listMenu {
		justify-content: center;
		grid-template-columns: 170px;

		width: 180px;
		margin-right: 10px;
	}

	.btn {
		justify-content: center;

		width: 200px;
		margin: 0 auto;
	}
}

@media (max-width: 995px) {
	.listMenu {
		grid-template-columns: 150px;
	}
}

@media (max-width: 860px) {
	.listMenu {
		grid-template-columns: 120px;
	}
}

@media (max-width: 1045px) {
	.index_list_menu {
		grid-template-columns: 1fr;

		justify-content: center;
	}
}

@media (max-width: 860px) {
	.index_list_menu {
		width: 300px;
	}
}

@media (max-width: 320px) {
	.index_list_menu {
		display: grid;
		align-items: center;
		justify-content: center;
		grid-template-columns: 200px;
		gap: 5px;
	}
}

@media (max-width: 700px) {
	.index_list_menu {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		width: 400px;
		margin: 0;
		padding: 0;
		gap: 10px;
	}

	.index_btn {
		width: 400px;
	}
}
