.listMenu {
	display: grid;
	justify-content: left;
	grid-template-columns: 220px;
	margin-top: 0;
	padding-right: 10px;
	padding-left: 25px;
}


.index_list_menu {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	justify-content: center;
	width:400px;

}

.index_btn {
	display: grid;
	justify-content: center;
}
.content {
	margin-right: 20px;
}

.btn {
	display: grid;
	justify-content: left;
}


.navMenu {
	margin-top: 60px;
}

.navMenu button:hover {
	color: black;
}

.link {
	display: inline-block;
	
	list-style-type: none;

	font-size: 15px;
	font-weight: 400;
	line-height: 16px;
}

.listMenu .link a:hover {
	color: rgb(137 137 137);
}

.index_list_menu .link a:hover {
	color: rgb(137 137 137);
}


.active {
	list-style-type: none;

	font-size: 15px;
	font-weight: bold;
	line-height: 16px;
}

.dropdownContent {
	display: show;
}

.show {
	display: block;

	margin-top: 10px;
}

.hide {
	display: none;

	width: 0;
	margin: 0;
	padding: 0;
}

.nonLink {
	display: none;
}

.title {
	margin-top: 30px;
	padding-right: 10px;
	padding-left: 20px;

	text-transform: uppercase;

	color: rgb(109 109 109);

	font-size: 14px;
	font-weight: 700;
	font-weight: bold;
	line-height: 15px;
}




@media (max-width:1315px) {
	.listMenu {
		grid-template-columns: 200px;
		justify-content: center;
	}
	.btn {
		justify-content: center;
	}
	

}

@media (max-width:1145px) {
	.listMenu {
		grid-template-columns: 150px;
		margin-left: 10px;
		margin-right: 10px;


	}
	

}

@media (max-width:890px) {
	.listMenu {
		grid-template-columns: 100px;
	}
	

}





	@media (max-width:1045px) {
		.index_list_menu {
			grid-template-columns: 1fr;
			justify-content: center;
	
		}
		
		
	}

	@media (max-width:860px) {
		.index_list_menu {
			width: 300px;
	
		}
		
		
	}

	@media (max-width:320px) {
		.index_list_menu {
			display: grid;
			grid-template-columns: 200px;
			justify-content: center;
			align-items: center;
			gap: 5px;
	
		}
		
		
	}
