
.listMenu {
	display: grid;
	justify-content: left;
	grid-template-columns: 250px;
	margin-top: 0;
	padding-right: 10px;
	padding-left: 25px;
	width: 300px;
}


.index_list_menu {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width:325px;
	margin-left: 20px;
	margin-right: 20px;

}

.index_list_menu a {
	display: flex;
	
}

.index_btn {
	width: 325px;
	display: grid;
	justify-content: center;

}
.btn {
	width: 300px;
	display: grid;
	justify-content: left;
}


.navMenu {
	margin-top: 60px;
}

.navMenu button:hover {
	color: black;
}

.link {
	display: inline-block;
	transition: all 0.1s;

	list-style-type: none;
	font-size: 15px;
	font-weight: 400;
	line-height: 16px;
}

.listMenu .link a:hover {
	transition: all 0.1s;

	color: rgb(137 137 137);
}

.index_list_menu .link a:hover {
	transition: all 0.1s;

	color: rgb(137 137 137);
}


.active_js {
	list-style-type: none;
	font-size: 15px;
	color:var(--js_color_links_pages);


	line-height: 16px;
}

.active_js a:hover {
	color: #bd8224;


}

.active_ts {
	list-style-type: none;
	font-size: 15px;
	color:var(--ts_color_links_pages);

	line-height: 16px;
}

.active_ts a:hover {
	color:var(--ts_hover_color_links_pages);


}

.dropdownContent {
	display: show;
}

.show {
	display: block;

	margin-top: 10px;
}

.hide {
	display: none;

	width: 0;
	margin: 0;
	padding: 0;
}

.nonLink {
	display: none;
}

.title {
	margin-top: 30px;
	padding-right: 10px;
	padding-left: 20px;

	text-transform: uppercase;

	color: rgb(109 109 109);

	font-size: 14px;
	font-weight: 700;
	font-weight: bold;
	line-height: 15px;
}




@media (max-width:1315px) {
	.listMenu {
		grid-template-columns: 200px;
		justify-content: center;
	}
	.btn {
		margin: 0 auto;
		justify-content: center;
	}
	

}

@media (max-width:1145px) {
	.listMenu {
		grid-template-columns: 170px;
		width: 180px;
		margin-left: 10px;
		margin-right: 10px;

	}

	.btn {
		width: 200px;
		margin-right: 20px;
	}


	

}

@media (max-width:995px) {
	.listMenu {
		grid-template-columns: 150px;
	}
	

}



@media (max-width:860px) {
	.listMenu {
		grid-template-columns: 120px;

	}

	
}


	@media (max-width:1045px) {
		.index_list_menu {
			grid-template-columns: 1fr;
			justify-content: center;
	
		}
		
		
	}

	@media (max-width:860px) {
		.index_list_menu {
			width: 300px;
			
	
		}
		
		
	}

	@media (max-width:320px) {
		.index_list_menu {
			display: grid;
			grid-template-columns: 200px;
			justify-content: center;
			align-items: center;
			gap: 5px;
	
		}
		
		
	}


	@media (max-width:700px) {
		.index_list_menu {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;
			justify-content: center;
			width:400px;
		
		}

		.index_btn {
			width: 400px;
		}
		
	}