.header {
	z-index: 100;

	display: grid;
	align-items: center;
	justify-content: center;

	height: 50px;

	color: #FFF;
	gap: 30px;
	grid-template-columns: 20% minmax(auto, 1180px) 20%;
	grid-template-areas: ". header .";
}

.content {
	display: flex;
	align-items: center;

	text-align: center;
	grid-area: header;
}

.link {
	padding-left: 15px;
}

.link:hover {
	color: rgb(0 187 255);
}

@media (max-width: 625px) {
	.header {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-rows: 50px;

		/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
		grid-template-areas: "header";
	}

	.logo span {
		display: none;
	}

	.content {
		margin-right: 50px;
		margin-left: 50px;
	}
}

.nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	width: 100%;

	font-size: 16px;
}

.btn {
	display: flex;
	justify-content: flex-end;

	width: 100%;
}

.btn button {
	color: #FFF;
	border: none;
	background-color: transparent;

	font-size: 15px;
}

.github {
	padding: 0;

	font-size: 13px;
}

.logo::before {
	display: block;

	content: "logo";
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown {
	position: relative;

	display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
	position: absolute;
	z-index: 1;

	display: none;

	min-width: 100%;
	margin: 0;
	padding: 20px 0 0;

	border-bottom: 1px solid;
	box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

/* Links inside the dropdown */
.dropdown_content li {
	display: block;

	text-decoration: none;

	color: black;
	background-color: #FFF;
}

/* Change color of dropdown links on hover */
.dropdown_content :hover { color: gray; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content { display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
