@import "../../../styles/variables@media.scss";

.header {
	position: relative;

	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: var(--grid_columns_wrapper);
	height: 60px;
	margin-right: calc(-1 *(100vw - 100%));

	color: #FFF;
	gap: var(--grid_gap);
	
	grid-template-areas: ". header .";

	&__content {
		display: flex;
		align-items: center;

		text-align: center;
		grid-area: header;
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		text-align: center;
		width: 100%;
	}


	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;

		color: transparent;
		text-shadow: 0 0 0 black;

		span {
			margin-left: 4px;

			color: #FFF;
		}
	}

	&__link {
		padding-left: 10px;
		transition: all 0.1s;

		a {
			font-weight: 700;
		}

		&:hover {
			transition: all 0.1s;

			color: var(--next_hover_color_links_pages);
		}
	}

	&__dropdown {
		position: relative;

		display: block;

		&:hover &__content {
			visibility: visible;

			opacity: 1;
		}

		&__content {
			position: absolute;

			visibility: hidden;

			min-width: 100%;
			margin: 0;
			padding: 20px 0 0;

			transition: visibility 0.2s linear, opacity 0.2s linear;

			opacity: 0;

			li {
				display: block;
				
				padding: 5px 0;

				cursor: pointer;
				text-decoration: none;

				color: black;
				border-bottom: 1px solid rgb(139 139 139 / 70.5%);
				background-color: #FFF;
				box-shadow: 0.5px 0.5px 1px rgb(112 111 111 / 91.1%);

				font-size: 16px;
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					width:100%;
					height: 100%;
				}
			}
		}

		&__btn {
			display: flex;
			justify-content: flex-end;
			
			width: 100%;

			button {
				color: #FFF;
				border: none;
				background-color: transparent;
				font-weight: 500;
				font-size: 14px;
			}
		}
	}

	&__content_link {
		margin-right: 20px;
		margin-left: 20px;
		font-size: 16px;
		text-align: center;
		justify-content: center;
		align-items: center;
		height: 60px;
		width: 60px;
		display: flex;
		color: #FFF;
		font-weight: 500;
		border: none;
		cursor: pointer;


		&:hover {
			transition: all 0.1s;
			color: var(--next_hover_color_links_pages);
		}

		&:active {
			background-color: rgba(73, 75, 75, 0.24);
		}
	}
	&__github {
		padding: 0;

		font-size: 14px;

		a {
			display: flex;
			align-items: center;

			padding-right: 4px;
		}

		a img {
			margin-left: 5px;
		}

		&:active {
			padding-top: 4px;
			padding-bottom: 4px;

			border-radius: 50px;
			background-color: rgb(128 128 128 / 36.5%);
		}
	}


	@media screen and (max-width: #{$screen_mobile_785}) {
		& {
			grid-template-columns: var(--grid_columns_wrapper_mobile);
			grid-template-rows: 60px;

			/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
			grid-template-areas: "header";
		}

		&__logo span {
			display: none;
		}

		&__content {
			margin-right: 14px;
			margin-left: 14px;
		}

		@media screen and (max-width: #{$screen_mobile_500}) {
			&__dropdown__btn {
				display: none;
			}
		}
	}
}


.headerWithoutRightSide {
	display: grid;

	@media (max-width: #{$screen_wrapper_without_right_side}) {
		& {
			grid-template-columns: var(--grid_columns_wrapper_without_right_side);
		}
	}

	@media (max-width: #{$screen_mobile_785}) {
		& {
			grid-template-columns: var(--grid_columns_wrapper_mobile);
			grid-template-rows: 60px;

			/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
			grid-template-areas: "header";
		}
	}
}




.active { 
	color: var(--main_color_links_pages);

	border-bottom: 3px solid var(--main_color_links_pages);
	border-top: 3px solid transparent;

}
.mainLinks {
	transition: all .3s;
}

.mainLinks:hover {
	color: #FFF;
	background-color: var(--main_hover_color_links_pages);
}

.js {
	
	transition: all .3s;
}

.js:hover {
	color: #fff;
	background-color: var(--js_color_links_pages_mobile);
}

.ts {
	transition: all .3s;

}

.ts:hover {
	color: #fff;
	background-color: var(--ts_color_links_pages);
}

.react {
	transition: all .3s;
}

.react:hover {
	color: #FFF;
	background-color: var(--react_color_links_pages);
}

.next {
	transition: all .3s;
}

.next:hover {
	color: #FFF;
	background-color: var(--next_color_links_pages);
}

.node {
	transition: all .3s;
}

.node:hover {
	color: #FFF;
	background-color: var(--node_color_links_pages);
}