.header {
	position: relative;
	z-index: 201;
	display: grid;
	align-items: center;
	justify-content: center;
	height: 60px;
	margin-right: calc(-1 *(100vw - 100%));
	color: #FFF;
	gap: 30px;
	grid-template-columns: var(--grid_columns_wrapper);
	grid-template-areas: ". header .";
}

.header2 {
	position: relative;
	grid-template-columns: var(--grid_columns_wrapper);
}

@media (max-width: 985px) {
	.header2 {
		grid-template-columns: var(--grid_columns_wrapper_mobile);
	}
}

.content {
	display: flex;
	align-items: center;
	text-align: center;
	grid-area: header;
}

.link {
	padding-left: 10px;
	transition: all 0.1s;
}

.link a {
	font-weight: 700;
}

.link:hover {
	transition: all 0.1s;
	color: var(--next_hover_color_links_pages);
}


@media (max-width: 785px) {
	.header {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-rows: 60px;

		/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
		grid-template-areas: "header";
	}

	.logo span {
		display: none;
	}

	.content {
		margin-right: 50px;
		margin-left: 50px;
	}
}

.nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	font-size: 16px;
}

.btn {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.btn button {
	color: #FFF;
	border: none;
	background-color: transparent;
	font-size: 15px;
}

.github {
	padding: 0;
	font-size: 13px;
}

.github a {
	display: flex;
	align-items: center;
	padding-right: 4px;
}

.github a img {
	margin-left: 5px;
}

.github:active {
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 50px;
	background-color: rgb(128 128 128 / 36.5%);
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo span {
	margin-left: 4px;
}

.dropdown {
	position: relative;
	display: block;
}

.dropdown_content {
	position: absolute;
	z-index: 1;
	visibility: hidden;
	min-width: 100%;
	margin: 0;
	padding: 30px 0 0;
	transition: visibility 0.2s linear, opacity 0.2s linear;
	opacity: 0;
	border-bottom: 1px solid;
	box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

/* Links inside the dropdown */
.dropdown_content li {
	display: block;
	text-decoration: none;
	color: black;
	background-color: #FFF;
}

/* Change color of dropdown links on hover */
.dropdown_content :hover {
	transition: all 0.1s;
	color: gray;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {
	visibility: visible;
	opacity: 1;
}

.js {
	cursor: pointer;
	color: var(--js_color_links_pages);
}

.js:hover {
	color: var(--js_hover_color_links_pages);
}

.ts {
	cursor: pointer;
	color: #3178C6;
}

.ts:hover {
	color: #1A426C;
}

.react {
	cursor: pointer;
	color: var(--react_color_links_pages);
}

.react:hover {
	color: var(--react_hover_color_links_pages);
}

.next {
	cursor: pointer;
	color: var(--next_color_links_pages);
}

.next:hover {
	color: var(--next_hover_color_links_pages);
}

@media (max-width: 450px) {
	.btn {
		display: none;
	}
}
