.header {
	position: relative;
	z-index: 100;

	display: grid;
	align-items: center;

	height: 50px;

	color: #FFF;
	gap: 50px;
	grid-template-columns: 20% minmax(auto, 1180px) 20%;
	grid-template-areas: ". header .";
}

.content {
	position: relative;

	display: flex;

	justify-content: space-between;
	grid-area: header;
}

.link {
	padding: 0 15px;
}

.link:hover {
	color: rgb(0 187 255);
}

@media (max-width: 625px) {
	.header {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-rows: 50px;

		/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
		grid-template-areas: "header";
	}

	.logo span {
		display: none;
	}
}
