.footer a:hover {
	color: var(--js_hover_color_links_pages);
	box-shadow: 0 0.7px 0 0;
}

.footer a:focus {
	color: var(--js_color_links_pages);
}

.footer a {
	color: var(--js_color_links_pages);
}



.footer a {
	box-shadow: 0 0.3px 0 0;
}

@media (max-width: 500px) {
	.footer a {
		border-bottom: 1px solid var(--js_color_links_pages_mobile);
		box-shadow: 0 0 0 0;
	}
}

@media (max-width:785px) {
	.footer a:focus {
		color: var(--js_color_links_pages_mobile);
	}
	
	.footer a {
		color: var(--js_color_links_pages_mobile);
	}
	
}

.edit a {
	color: rgb(77 77 77);
	box-shadow: 0 0.2px 0 0;
}

.edit a:hover {
	box-shadow: 0 0.7px 0 0;
}



