.wrapper {
    display: grid;
    grid-template-columns: 20% repeat(auto-fill, minmax(320px, 1220px)) 20%;
    min-height: 100vh;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
    "header header header"
    "sidebar body ."
    "footer footer footer";
}

.content {
   display:none;
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: 15;
   
}
.btn {

    margin-bottom: 55px;
    margin-right: 20px;
    position: absolute;
    border-radius: 100%;
    right: 0;
    bottom: 0;
    width: 75px;
    background-color: black;
    height: 75px;
}
.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}


.body {
    padding: 0 20px;
    margin-bottom: 40px;
    grid-area: body;
}

.footer {
    grid-area: footer;
}

@media (max-width: 625px) {
    .wrapper {
        grid-template-columns: minmax(320px, 1fr);
        grid-template-rows: 50px;
        grid-template-areas: 
        "header"
        "body"
        "footer";
    }
.content {
    display: block;
}

.footer {
    text-align: center;
    align-items: center;
}
    
}