.wrapper {
    display: grid;
    grid-template-columns: auto 250px minmax(320px, 1200px) auto;
    min-height: 100vh;
    grid-template-areas: 
    "header header header header"
    ". sidebar body ."
    " footer footer footer footer ";
}


.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.body {
    margin-top: 25px;
    margin-bottom: 25px;
    grid-area: body;
}

.footer {
    grid-area: footer;
}

@media (max-width: 600px) {
    .wrapper {
        grid-template-columns: minmax(320px, 1fr);
        grid-template-areas: 
        "header"
        "body"
        "footer";

    }
    .sidebar {
        display: none;
    }

    .footer {
        margin-left: 150px;
        padding-left: 10px;
    }
}