.wrapper {
    display: grid;
    grid-template-columns: 20% minmax(320px, 1180px) 20%;
    min-height: 100vh;
    gap:50px;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
    "header header header"
    "sidebar body ."
    "footer footer footer";
}


.btn {

    margin-bottom: 55px;
    margin-right: 20px;
    position: absolute;
    border-radius: 100%;
    right: 0;
    bottom: 0;
    width: 75px;
    background-color: black;
    height: 75px;
}
.header {
    position: absolute;
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}


.body {
    position: relative;
    grid-area: body;
}

.footer {
    grid-area: footer;
}


.container {
    display: grid;
}

@media (max-width: 625px) {
    .wrapper {
        grid-template-columns: minmax(320px, 1fr);
        grid-template-rows: 50px;
        grid-template-areas: 
        "header"
        "body"
        "footer";
        
    }

.footer {
    text-align: center;
    align-items: center;
}
    
}