.footer {
	z-index: 100;
	display: grid;
	align-items: center;
	position: absolute;
	width: 100vw;
	min-height: 100%;
	margin-left: calc(-50vw + 50%);
	grid-template-rows: 1fr;
	background-color: #20232A;
}

@media (max-width:785px) {
	.footer {
		margin-top: 80px;

	}
}
