.footer {
	z-index: 2;

	display: grid;
	align-self: end;
	justify-content: right;

	padding: 15px 20px;

	text-align: right;

	color: #FFFF;
	background: #20232A;
	grid-template-columns: 1fr auto auto;
	gap: 40px;
}
