@import "../../styles/variables@media.scss";

.footer {
	position: absolute;
	z-index: 100;
	display: grid;
	align-items: center;

	width: 100vw;
	margin-left: calc(-50vw + 50%);

	background-color: var(--basic_color);
	grid-template-rows: 1fr;


}
