@import "../../../styles/variables@media.scss";

.footer a:hover {
	color: var(--node_hover_color_links_pages);
	box-shadow: 0 0.7px 0 0;
}

.footer a:focus {
	color: var(--node_color_links_pages);
}

.footer a {
	color: var(--node_color_links_pages);
}

.footer a {
	box-shadow: 0 0.5px 0 0;
}

.edit a {
	color: rgb(77 77 77);
	box-shadow: 0 0.2px 0 0;
}

.edit a:hover {
	box-shadow: 0 0.7px 0 0;
}

