.button {
	position: relative;

	padding-top: 30px;

	cursor: pointer;
	white-space: nowrap;
	text-transform: uppercase;

	color: rgb(109 109 109);
	border: none;
	background: transparent;

	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
}

.active {
	color: black;
}

.arrow {
	position: absolute;

	display: inline-block;

	max-width: 50px;
	margin-right: 10px;
	margin-left: 10px;

	& svg {
		transform: rotate(270deg);
		fill: rgb(109 109 109);
	}
}

.down svg {
	display: inline-block;

	transition: all 0.2;
	transform: rotate(90deg);
	fill: rgb(0 0 0);
}

@media screen and (max-width: 1215px) {
	.button {
		font-size: 14px;
	}

	@media screen and (max-width: 1115px) {
		.button {
			font-size: 13px;
		}

		@media screen and (max-width: 1040px) {
			.button {
				width: 130px;

				white-space: normal;
			}
		}
	}
}
