.button {
	position: relative;
	max-width: 250px;
	margin-left: 20px;
	padding-top: 30px;
	padding-right: 17px;
	cursor: pointer;
	white-space: nowrap;
	text-transform: uppercase;
	color: rgb(109 109 109);
	border: none;
	background: transparent;
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
}


.active {
	color: black;
}

.arrow {
	position: absolute;
	display: inline-block;
	max-width: 50px;
	margin-right: 10px;
	margin-left: 10px;
}

.arrow svg {
	transform: rotate(270deg);
	fill: rgb(109 109 109);
}

.down svg {
	display: inline-block;
	transition: all 0.2;
	transform: rotate(90deg);
	fill: rgb(0 0 0);
}



@media (max-width: 1200px) {
	.button {
		width: 150px;
		white-space: normal;
	}
}





@media (max-width: 1290px) {
	.button {
		margin-left: 0px;
	}
}

