.button {
	position: relative;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 10px;
	line-height: 18px;
	cursor: pointer;
	text-transform: uppercase;

	color: rgb(109 109 109);
	border: none;
	background: transparent;

	font-size: 15px;
	font-weight: 700;
	font-weight: bold;
}

.active {
	color: black;
}

.arrow {
	position: absolute;

	display: inline-block;

	margin-left: 10px;
}

.arrow svg {
	transform: rotate(270deg);

	fill: rgb(109 109 109);
}

.down svg {
	display: inline-block;

	transition: all 0.2;
	transform: rotate(90deg);
	fill: rgb(0 0 0);
}

@media (max-width: 1315px) {
	.button {
		width: 150px;
		padding:0;
	}
}


