.container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 180px;
	height: 180px;

	cursor: pointer;

	border-radius: 5%;

	font-size: 25px;
	transition: .2s;
}

.yellow {
	background-color:var(--js_color_links_pages);
	
}

.yellow:hover {
	background-color: var(--js_hover_color_links_pages);
	color: #fff;
}

.blue {
	color: #fff;
	background-color:var(--ts_color_links_pages);
}

.blue:hover {
	color: rgb(198, 228, 255);
	background-color:var(--ts_hover_color_links_pages);

}
