@import "../../../styles/variables@media";

.card {
	&__title {
		display: grid;
		align-items: center;
		justify-content: center;

		width: 100%;
		padding-bottom: 10px;

		cursor: default;
		text-align: left;

		font-size: 26px;
		grid-template-columns: 1fr;
		grid-template-rows: minmax(50px, 60px);
	}

	&__footer {
		width: 100%;
		margin-right: -5px;
		padding: 10px;

		transition: all 0.2s;
		transition: all 0.2s;
		text-align: center;

		color: #000;
		border: 1px solid black;
		border-top: none;

		font-size: 16px;
		font-weight: 500;

		&:hover {
			transition: all 0.2s;

			font-weight: 700;
		}
	}


	&__container {
		display: flex;

		max-width: 450px;
		min-height: 250px;
		margin: 0 auto;

		cursor: pointer;
		transition: all 0.2s;

		color: #000;
		border: 1px solid #000;

		background-image: url(/images/cards/basic.png);
		background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: bottom;
		background-size: contain;

		font-size: 25px;

		&__js {
			background-image: url(/images/cards/js_card_bw.png);
		}



		&__ts {
			background-image: url(/images/cards/ts_card_bw.png);
		}



		&__next {
			background-image: url(/images/cards/nextjs_card_bw.png);
		}


		&__react {
			background-image: url(/images/cards/react_card_bw.png);
		}

		&__html {
			background-image: url(/images/cards/htmlCss_card_bw.png);

		
		}

		&__node {
			background-image: url(/images/cards/nodejs_card_bw.png);
		
		}
	}


	.activeCardReact {
		background-color: var(--react_color_links_pages);
		background-image: url(/images/cards/react_card_color.png);
	}

	.activeCardJs {
		background-color: #F5DE19;
		background-image: url(/images/cards/js_card_color.png);
	}

	.activeCardNextJs {
		background-color: #000;
		background-image: url(/images/cards/nextjs_card_color.png);
	}

	.activeCardTS {
		background-color: var(--ts_color_links_pages);
		background-image: url(/images/cards/ts_card_color.png);
	}

	.activeCardNodeJs {
		background-color: var(--node_color_links_pages);
		background-image: url(/images/cards/nodejs_card_color.png);
	}

	.activeCardHtml {
		background-color: var(--main_color_links_pages);
		background-image: url(/images/cards/htmlCss_card_color.png);
	}

	.activeCardBasic {
		background-color: var(--main_color_links_pages);
		background-image: url(/images/cards/basic_hover.png);
	}

	@media screen and (max-width: 1165px) {
		&__container {
			min-height: 180px;
		}
	}

	@media screen and (max-width: 1000px) {
		&__container {
			min-height: 250px;
		}
	}


	@media screen and (max-width: #{$screen_mobile_785}) {
		&__container {
			min-width: 350px;
			background-color: var(--main_color_links_pages);
			background-image: url(/images/cards/basic_hover.png);
		}

		&__container__react {
			background-color: var(--react_color_links_pages);
			background-image: url(/images/cards/react_card_color.png);
		}

		&__container__js {
			background-color: #F5DE19;
			background-image: url(/images/cards/js_card_color.png);
		}

		&__container__next {
			background-color: #000;
			background-image: url(/images/cards/nextjs_card_color.png);
		}

		&__container__ts {
			background-color: var(--ts_color_links_pages);
			background-image: url(/images/cards/ts_card_color.png);
		}
		&__container__html {
			background-color: var(--main_color_links_pages);
			background-image: url(/images/cards/htmlCss_card_color.png);
		}

		&__container__node {
			background-color: var(--node_color_links_pages);
			background-image: url(/images/cards/nodejs_card_color.png);
		}



		@media screen and (max-width: #{$screen_mobile_400}) {
			&__container {
				min-width: 100vw;
				margin-left: calc(-50vw + 50%);
				padding: 30px;
				border-right: none;

				border-left: none;
				border-radius: 0%;
			}

			&__footer {
				min-width: 100vw;
				margin-left: calc(-50vw + 50%);

				border-right: none;
				border-left: none;
			}
		}
	}
}
