.container {

	border: 1px solid rgba(153, 153, 153, 0.575);
	display: flex;
	max-width: 450px;
	min-height: 275px;
	margin: 0 auto;
	cursor: pointer;
	transition: 0.2s;
	border-radius: 3%;
	font-size: 25px;
	background-color: rgba(0, 0, 0, 0.815);
	color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.534);

	/* background-image: url(/anime3.jpg);
	background-position-x: center	;
	background-repeat: no-repeat;
	background-size:cover;
	 */
}


/* .reactbg {
		background-position: top;
		background-repeat: no-repeat;
		background-size: 70%;
		background-position-y: -30%;
		background-position-x:100%;
		background-image: url(/reactBg.png);
} */
.container:hover {
	transform: scale(1.05);
	transform: scale(1.05);
	transform: scale(1.05);

	transition: all 0.2s;
	text-shadow: 1px 1px 3px  black;
	box-shadow: 0 0 5px #000;
	background-color: rgba(0, 0, 0, 0.349);



}
.title {
	padding-left: 10px;
	padding-right: 10px;
	display: grid;
	grid-template-columns: 1fr;
	font-weight: bold;
}
.body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	width: 100%;
	}

.bg {
	display: flex;
}

.footer {
	padding: 10px;
	font-size: 16px;
	display: flex;
	text-align: left;

}

.js {
	background-repeat: no-repeat;
	background-size: 20%;
	background-position-y:-10px;
	background-position-x:right;
	/* background-image: url(/images/cards/js.svg); */
	background-color: var(--js_color_links_pages);
}

.js:hover {

	box-shadow: 0 0 5px var(--js_hover_color_links_pages);
	color: #FFF;
	background-color: var(--js_hover_color_links_pages);
}

.ts {
	color: #FFF;
	background-color: var(--ts_color_links_pages);
}

.ts:hover {
	box-shadow: 0 0 5px var(--ts_hover_color_links_pages);
	color: rgb(198 228 255);
	background-color: var(--ts_hover_color_links_pages);
}

.next {
	background-repeat: no-repeat;
	background-position-y:top;
	background-position-x:right;
	background-size: 50%;
	/* background-image: url(/logo/nextjs_logo.svg); */
	color: #FFF;
	background-color: var(--next_color_links_pages);
}

.next:hover {
	box-shadow: 0 0 5px var(--next_hover_color_links_pages);
	color: var(--next_hover_color_links_pages);
	background-color: rgb(49 49 49);
}

.react {
	background-repeat: no-repeat;
	background-size: 151%;
	background-position-y:30%;
	background-image: url(/images/cards/reactbg.svg);
	color: #000;
	background-color: #61DAFB;
}

.react:hover {
	
	color: #FFF;
	background-color: #41E1ED;
	box-shadow: 0 0 10px  var(--react_hover_color_links_pages);
}


@media (max-width:1195px) {
	.title {
		font-size: 22px;
	}

	
	
}

@media (max-width:785px) {
	.container {
		min-width: 350px;
	}

	
	
}



@media (max-width:400px) {
	.container {
		min-width: 100vw;
		margin-left: calc(-50vw + 50%);
		padding: 30px;
		border-radius: 0%;
		font-size: 20px;
	}

	.footer {
		font-size: 14px;
	}
	
}

