.footer a:hover {
	color: var(--js_hover_color_links_pages);
	box-shadow: 0 0.7px 0 0;
}

.footer a:focus {
	color: var(--js_color_links_pages);
}

.footer a {
	color: var(--js_color_links_pages);
}

.footer a {
	box-shadow: 0 0.3px 0 0;
}

@media (max-width: 500px) {
	.footer a {
		border-bottom: 1px solid var(--js_color_links_pages);
		box-shadow: 0 0 0 0;
	}
}

.edit a {
	color: rgb(77 77 77);
	box-shadow: 0 0.2px 0 0;
}

.edit a:hover {
	box-shadow: 0 0.7px 0 0;
}



.pp {
	position: relative;
}
.modal {
	opacity: 0;
	justify-content: center;
	display: flex;
	text-align: center;
	align-items: center;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #fff;

}

.modal2 {
	opacity: 1;
}
