

.quiz {
  height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    transition: all 3s;


    &__content {
      transition: all .3s;

      width:  80%;
      border-radius: 10px;
      border: 3px solid #eee;
      padding: 50px;
      
    }

    &__end {
      height: 350px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width:  80%;
      border-radius: 10px;
      border: 3px solid #eee;
      padding: 50px;

    }

    &__score_end {
      font-size: 25px;
    }

    &__back {

      width: 80%;
      margin-bottom: 20px;
      margin-left: 10px;
      span {
        a {
          display: block;
        }
      width: 220px;
      display: block;
      height: 40px;
      text-align: center;
      border: none;
      text-decoration: none;
      line-height: 45px;
      border-radius: 45px;
      font-family: 'Montserrat', sans-serif;
      font-size: 11px;
      margin-right: 10px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 600;
      color: #524f4e;
      background: transparent;
      box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
      transition: .3s;
      cursor: pointer;  

      &:hover {
        background: #2EE59D;
      box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
      color: white;
      transform: translateX(-10px);
      }
      }  
    }


}



.next {
  width:  80%;
  display: flex;
  justify-content: right;
  margin-top: 20px;
  &__btn {

  border: none;
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  margin-right: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  background-color: #524f4e2d;
  pointer-events: none;
  font-weight: 600;
  color: #524f4e;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;

    
  }
  &__btn_active {
    pointer-events: fill;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      background-color: #2EE59D;
      box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
      color: white;
      transform: translateX(10px);
    }
  }
}
.answers {
    width: 50%;
    display: grid;
    justify-content: left;
    grid-template-columns: minmax(200px,300px);
}
.code {
 
    display: flex;
    justify-content: center;

}



.btn {
    background-color: transparent;
    border: none;
    outline:none;
    padding: 10px;
    box-shadow: 0px 0.5px 1px #999;
    transition: all .3s;
  }
  .btn:hover {
    background-color: rgb(218, 218, 218);
    cursor: pointer;
    color: #fff;
    
  }
.end {
    display: block;
}

.quest {
    display:block;
}


.correctly {
  color: #2EE59D;
  background-color: #2ee59c31;
}

.correctly:hover {
  color: #2EE59D;
  background-color: #2ee59c31;

}

.wrong {
  color: red;
  background-color: rgba(255, 0, 0, 0.187);
}

.wrong:hover {
  color: red;
  background-color: rgba(255, 0, 0, 0.187);
}



.nice {
  color: rgb(2, 212, 2);
}

.middle {
 color: rgb(208, 230, 35);
}

.bad {

  color: rgb(245, 162, 9);
}

.veryBad {
  color: rgb(221, 37, 37);
}



.about {
  width: 50%;
  display: none;
  justify-content: left;
  grid-template-columns: minmax(200px,300px);
  border: 1px solid  #2EE59D;
  color:  #1aac71;
  text-shadow: 2px 2px 2px #fff;
  background-color: #2ee59c31;
  padding: 5px;
}

.con {
  width: 100%;
  display: flex;
}