
.footer {
	font-size: 15px;
	display: grid;
	align-items: center;
	gap: 30px;
	height: 50px;
	text-align: right;
	justify-content: center;
	color: #FFF;
	grid-template-columns: 20% minmax(auto, 1180px) 20%;
	grid-template-areas: ". footer .";

}


.content {
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: right;
	gap: 30px;

}

.doc {
padding-right: 15px;

}