
.footer {
	display: grid;
	color: #FFFF;
	background: #20232A;
	grid-template-areas: ". footer .";
	grid-template-columns: 20% minmax(auto, 1180px) 20%;

}


.content {
	gap: 30px;
	display: flex;
	align-items: center;
	text-align: right;
	grid-template-columns: 1fr auto auto;
	display: grid;
	grid-area: footer;
}