.footer {
	display: grid;
	align-items: center;
	justify-content: center;
	text-align: right;
	color: #FFF;
	font-size: 15px;
	gap: 30px;
	grid-template-columns: var(--grid_columns_wrapper);
	grid-template-areas: ". footer .";
}



.footer2 {
	grid-template-columns: var(--grid_columns_wrapper);
}

@media (max-width: 985px) {
	.footer2 {
		grid-template-columns: var(--grid_columns_wrapper_mobile);
	}
}

.content {
	white-space: nowrap;
	grid-area: footer;
	display: flex;
	justify-content: right;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	margin-bottom: 25px;
}

.content h3 {
	margin-top:30px;
	color: #999;
	font-weight: 700;
}

.content ul>li {
	font-size: 17px;
	padding: 5px 0px;
	color: #FFF;
}

.content ul>li> a {
	display: flex;
	justify-content: right;
	align-items: center;
	


}

.content ul>li> a:hover {
	color: var(	--next_hover_color_links_pages);


}


.content ul>li>a> svg {
	margin-left: 5px;

}
.social {
	margin-bottom: 20px;
	flex-direction: column;
	display: flex;
	justify-content:right;
}

.content h3 {
	margin-bottom: 0;
}

@media (max-width: 785px) {
	.footer {
		grid-template-columns: 550px;
		justify-content: center;
		/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
		grid-template-areas: "footer";
	}

	.content {
		gap: 0px;

		margin-right: 50px;
		margin-left: 50px;
	}
}


@media (max-width: 555px) {
	.footer {
		text-align: center;
		grid-template-columns: minmax(320px, 1fr);
		justify-content: center;
		align-items: center;
		/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
		grid-template-areas: "footer";
	}

	.content {
		justify-content: center;
		flex-direction: column;
		display: flex;
		text-align: center;
	}
	.content ul {
		padding-left: 0;
	}
	.content ul>li>a {
		display: flex;
		justify-content: center;
		
	}


}



.copyright {
	white-space: nowrap;
	display: grid;
	justify-content: right;
	height: 100%;
	font-size: 13px;
	color: #999;
	margin-bottom: 5px;
	margin-right: 50px;
	

}

.copyright span {
margin: 0 auto;
}





.copyright span {
	margin-top: 25px;

}

@media (max-width:785px) {
	.copyright {
		margin-left: 50px;
		margin-right: 50px;
		justify-content: center;
	}
}


@media (max-width:555px) {
	.copyright {
		display: grid;
		justify-content: center;
		
		
	}
	
}
