.articles {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: 200px 200px;
}

@media (max-width: 925px) {
	.articles {
		align-items: center;
		justify-content: center;

		margin-top: -35px;

		grid-template-columns: 200px 200px;
	}
}

@media (max-width: 500px) {
	.articles {
		align-items: center;
		justify-content: center;
		gap: 20px;
		grid-template-columns: 200px;
		grid-template-rows: repeat(4, 200px);
	}
}
