.articles {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

@media (max-width: 1000px) {
	.articles {
		align-items: center;
		justify-content: center;
		grid-template-columns: 1fr;
	}
}





