.tag_nodeJs {
	display: inline-block;

	color: var(--node_color_links_pages);

	font-size: 16px;
}

.tag_nodeJs:hover {
	transition: all 0.1s;

	color: var(--node_hover_color_links_pages);
}

.mini_tag_nodeJs {
	display: inline;

	margin-right: 5px;

	transition: all 0.1s;

	color: var(--node_color_links_pages);

	font-size: 14px;
}

.mini_tag_nodeJs:hover {
	color: var(--node_hover_color_links_pages);
}

.link_nodeJs {
	color: var(--node_color_links_pages);
	box-shadow: 0 0.5px 0 0;
}

.link_nodeJs:hover {
	color: var(--node_hover_color_links_pages);
}

@media (max-width: 785px) {
	.tag_nodeJs {
		color: var(--node_color_links_pages_mobile);
	}

	.mini_tag_nodeJs {
		color: var(--node_color_links_pages_mobile);
	}

	.link_nodeJs {
		color: var(--node_color_links_pages_mobile);
	}
}
