@import '../../../styles/variables@media.scss';

.page {
    margin-top: 25px;
    display: grid;
    min-height: 100vh;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(auto,1fr));
    grid-template-rows: repeat(1, 380px);
   
}


@media (max-width:1560px) {

    .page {
        grid-template-columns: repeat(2, minmax(auto,1fr));
        grid-template-rows: repeat(3, 380px);

    }

}


@media (max-width:1050px) {

  .page {
    margin-bottom: 100px;
    grid-template-columns: 1fr 1fr;

  }
    
}

@media (max-width:#{$screen_mobile_785}) {

    .page {
      margin-bottom: 100px;
      grid-template-columns: 1fr 1fr;
    }
      
  }

  @media (max-width:#{$screen_mobile_500}) {

    .page {
      margin-bottom: 100px;
      grid-template-columns: 1fr;
    }
      
  }

  @media (max-width:#{$screen_mobile_400}) {

    .page {
      grid-template-rows: 1fr;
    }
      
  }