.header {
	position: fixed;
	z-index: 201;

	display: grid;

	width: 100%;
	height: 60px;

	background-color: var(--basic_color);
	box-shadow: 0.5px 0.5px 1px rgb(112 111 111 / 91.1%);
}

@media (max-width: 785px) {
	.header {
		box-shadow: none;
	}
}
