.listMenu {
	margin-top: 15px;
}

.navMenu {
  margin-top: 60px;
}

.button {

  cursor: pointer;
  color: rgb(109, 109, 109);
  line-height: 15px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  border: none;
}

.j {
  display: block;
}

.activeBtn {
  color: black;
}
.navMenu button:hover {
  color: black;
}


  .link {
  display: inline-block;
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
	list-style-type: none;
  }

  .link:hover {
	color: rgb(137, 137, 137);
  
  }

  .active {
	font-size: 15px;
	line-height: 16px;
	list-style-type: none;
	font-size: 15px;
	font-weight: bold;

  }



 

  .dropbtn {
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  /* Кнопка выпадающего меню при наведении и фокусировке */
  .dropbtn:hover, .dropbtn:focus {
	background-color: #2980B9;
  }
  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */

  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdownContent {
	display: show;
  }
  
  /* Ссылки внутри выпадающего списка */
 
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
  .show {
    margin-top: 10px;
    display:block;
  }
  .hide {
    width: 0;
    padding: 0;
    margin: 0px;
    display: none;

  }



  .nonLink {
    display: none;
  }