.listMenu {
  margin-top: 0;
  display: grid;
  padding-right: 10px;
  padding-left: 20px;
}

.navMenu {
  margin-top: 60px;
}




.navMenu button:hover {
  color: black;
}


  .link {
  display: inline-block;
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
	list-style-type: none;
  }

  .listMenu .link a:hover {
	color: rgb(137, 137, 137);
  
  }

  .active {
	font-size: 15px;
	line-height: 16px;
	list-style-type: none;
	font-size: 15px;
	font-weight: bold;

  }




  .dropdownContent {
	display: show;
  }
  

  .show {
    margin-top: 10px;
    display:block;
  }
  .hide {
    width: 0;
    padding: 0;
    margin: 0px;
    display: none;

  }



  .nonLink {
    display: none;
  }
