.body {
	text-align: center;
	display: grid;
	justify-content: center;
	grid-template-columns: var(--grid_index_page_columns_wrapper_mobile);
}

.index_meta_content {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100vw;
	min-height: 45vh;
	margin-left: calc(-50vw + 50%);

	background-color: #000;
	background-image: url(/images/animeBg/index.svg);

	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 23.3%;
}

.newPage a:hover {
	color: rgb(103, 77, 77);
}

.containerNewPages {
	display: grid;
	grid-template-columns: 1fr;
	list-style-type: none;
	min-height: 10vh;
	padding: 0;
	margin-top: 0;
}

.newPage a {
color: #999;
font-weight: bold;
text-decoration: underline;
}
.newPage {
	margin-bottom: 20px;
	text-align: left;
}

.titleNewPage {
	display: grid;
	align-items: center;
	margin: 0;
	padding: 0;
	text-align: center;
	grid-template-columns: 1fr;
	grid-template-rows: 150px;
}

.titleNewPage h3 {
	margin: 0;
	padding: 0;
	padding-bottom: 16px;
	border-bottom: 1px solid #999;

}
.dateNewPage {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	display: flex;
}
.titlePage {
	min-height: 100vh;
}

.articles {
	display: grid;
	min-height: 60vh;
}

.articles_title {
	margin: 0;
	padding: 0;
}

.btnScroll {
	width: 200px;
	height: 40px;
	margin: 0 auto;

	cursor: pointer;
	transition: all 0.3s;

	color: #FFF;
	border-radius: 5px;
	outline: none;
	background-color: var(--basic_color);
}

.btnScroll:hover {
	transition: all 0.3s;

	color: #000;
	background-color: rgb(243 239 239);
}

.body h1 {
	display: flex;
	justify-content: center;

	margin-bottom: 0;

	color: #FFF;

	font-size: 60px;
}

.logoTitle {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr;
}

.subtitle {
	display: inline-block;

	max-width: 100%;
	margin-bottom: 25px;
	padding-right: 5px;

	text-align: right;

	color: #FFF;
	text-shadow: -3px 2px 3px  rgb(97 97 97 / 80.1%);

	font-size: 14px;
	font-weight: 400;
}

.code {
	color: var(--basic_color);
	
}

.title {
	margin-bottom: 20px;

	text-align: center;

	font-size: 28px;
}

.text {
	margin-top: 0;
	margin-right: 15px;
	margin-left: 10px;

	text-align: left;

	font-size: 20px;
	font-weight: 400;
	line-height: 1.7;
}

.allText {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.menu {
	display: grid;
	align-items: center;
	justify-content: center;

	min-height: 55vh;
	margin-top: -15px;
	grid-template-rows: 1fr;
}

.titleBlock {
	padding-bottom: 50px;

	color: gray;
}

@media (max-width: 1600px) {
	.articles {
		padding-bottom: 50px;
	}
}

@media (max-width: 1470px) {
	.text {
		font-size: 16px;
	}
}

@media (max-width: 1350px) {
	.allText {
		display: flex;
		flex-direction: column;

		margin-top: 10px;
		margin-bottom: 10px;
	}

	.articles {
		padding-bottom: 10px;
	}

	.title {
		padding-top: 20px;

		text-align: left;
	}
}

@media (max-width: 1000px) {
	.btnScroll {
		display: none;
	}

	.index_img {
		display: none;
	}

	.subtitle {
		padding-right: 15px;
	}

	.allText {
		margin-top: 15px;
	}
}

@media (max-width: 985px) {
	.index_meta_content {
		background-image: none;
	}

	.subtitle {
		padding-right: 5px;
	}
}

@media (max-width: 785px) {
	.text {
		font-size: 16px;
	}
	
	.index_meta_content {
		min-height: 45vh;
	}

	.articles {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
	}

	.bgText {
		margin-top: 10px;
		padding: 5px;

		border-radius: 5px;
		background-color: rgb(153 153 153 / 24.7%);
	}

	.bgText2 {
		margin-bottom: 10px;
		padding: 5px;
	}

	.title {
		padding-top: 0;
	}

	.container {
		grid-template-rows: 30%;
	}

	.titlePage {
		min-height: auto;
	}
}

@media (max-width: 500px) {
	.body h1 {
		font-size: 40px;
	}

	.subtitle {
		font-size: 12px;
	}
	.allText {
		margin-top: 35px;
	}
}

@media (max-width: 320px) {
	.body h1 {
		font-size: 30px;
	}

	.subtitle {
		font-size: 12px;
	}

}
