@import "../styles/variables@media.scss";

.page {
	display: grid;
	justify-content: center;

	text-align: center;

	& h1 {
		display: flex;
		justify-content: center;

		margin-bottom: 0;

		color: #FFF;

		font-size: 60px;
	
	}

	&__welcome {
		min-height: 50vh;

		&__title {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100vw;
			min-height: 50vh;
			margin-left: calc(-50vw + 50%);
			background-color: #000;
			background-image: url(/images/animeBg/index.svg);

			background-repeat: no-repeat;
			background-position: bottom right;
			background-size: contain;

			&__items {
				display: grid;
				justify-content: center;
				grid-template-columns: 1fr;
				margin-bottom: 10px;
			}

			&__textcode {
				color: var(--basic_color);
			}

			&__subtitle {
				display: inline-block;

				max-width: 100%;
				margin-bottom: 25px;
				padding-right: 5px;

				text-align: right;

				color: #FFF;
				text-shadow: -3px 2px 3px  rgb(97 97 97 / 80.1%);

				font-size: 14px;
				font-weight: 400;
			}

			&__btnScroll {
				width: 200px;
				height: 40px;
				margin: 0 auto;
				cursor: pointer;
				transition: all 0.3s;
				font-size: 16px;
				color: #FFF;
				border: none;
				border-radius: 5px;
				outline: none;
				background-color: var(--basic_color);

				&:hover {
					transition: all 0.3s;

					color: #000;
					background-color: rgb(243 239 239);
				}
			}
		}

		&__aboutSite {
			grid-template-columns: minmax(var(--wrapperSides), var(--wrapper));
			display: grid;
			align-items: center;
			justify-content: center;
			line-height: 1.7;
			min-height: 35vh;
			grid-template-rows: 1fr;
			margin-bottom: 25px;

			&__content {
				display: grid;
				grid-template-columns: 1fr 1fr;
			}

			&__title {
				margin-bottom: 20px;
				margin-top: 20px;
				text-align: center;

				font-size: 28px;
			}

			&__text {
				margin-top: 0;
				margin-right: 10px;
				margin-left: 10px;

				text-align: left;

				font-size: 20px;
				font-weight: 400;
			}
		}
	}

	&__articles {
		display: grid;

	}

	@media screen and (max-width: 1350px) {
		&__welcome__aboutSite__text {
			font-size: 16px;
		}

		&__welcome__aboutSite__content {
			display: flex;
			flex-direction: column;

			margin-top: 10px;
			margin-bottom: 10px;
		}

		&__welcome__aboutSite__title {
			padding-top: 20px;

			text-align: left;
		}
		@media screen and (max-width:1065px) {
			&__welcome__title {
				background-position-x: 108%;
			}
		}



		@media screen and (max-width: 985px) {
			&__welcome__title {
				background-image: none;
			}

			@media screen and (max-width: #{$screen_mobile_785}) {
				&__welcome {
					min-height: auto;
				}

				&__welcome__title {
					min-height: 45vh;
				}

				&__welcome__title__btnScroll {
					display: none;
				}

				&__welcome__aboutSite__text {
					font-size: 16px;
				}

				&__welcome__aboutSite__paragraphAboutMe {
					margin-top: 30px;
					padding: 5px;
					border-radius: 5px;
					background-color: rgb(153 153 153 / 24.7%);
				}

				&__welcome__aboutSite__paragraphAboutSite {
					padding: 5px;
				}

				&__welcome__aboutSite__containerAboutSite {
					margin-bottom: 10px;
					padding: 5px;
				}

				&__welcome__aboutSite__title {
					padding-top: 0;
				}

				@media screen and (max-width: #{$screen_mobile_500}) {
					& h1 {
						font-size: 40px;
					}

					&__welcome__title__subtitle {
						font-size: 12px;
					}

					&__welcome__aboutSite {
						margin-top: 0;
					}


					@media screen and (max-width: 320px) {
						& h1 {
							font-size: 30px;
						}
					}
				}
			}
		}
	}
}


.tests {
	width: 100%;
	border: 1px solid black;
}