.menu {
	margin-top: 50px;
}


/* Кнопка выпадающего списка */
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
  }
  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdownContent {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdownContent li {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdownContent a:hover {background-color: #ddd;}
  
  /* Показать выпадающее меню при наведении курсора */
  .dropdown:hover .dropdownContent {display: block;}
  
  /* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}



  .link {
	font-size: 16px;
	line-height: 17px;
	font-weight: 400;
	list-style-type: none;

  }


  .active {
	font-size: 16px;
	line-height: 16px;
	list-style-type: none;
	font-size: '19px';
	font-weight: bold;
  }