.listMenu {
	margin-top: 15px; 
}

.navMenu {
  margin-top: 45px;
}

.navMenu button:hover {
  color: black;
}


  .link {
  display: inline-block;
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
	list-style-type: none;
  }

  .link:hover {
	color: rgb(137, 137, 137);
  
  }

  .active {
	font-size: 15px;
	line-height: 16px;
	list-style-type: none;
	font-size: 15px;
	font-weight: bold;

  } 

  .dropbtn {
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  

  
  .dropdownContent {
	display: show;
  }
  .show {
    margin-top: 10px;
    display:block;
  }
  .hide {
    width: 0;
    padding: 0;
    margin: 0px;
    display: none;

  }


