.news {
    margin-top: 10px;
    display: grid;
	justify-content: center;
	text-align: center;
    grid-template-columns: minmax(var(--wrapperSides), var(--wrapper));

    &__content {
        display: grid;

        min-height: 10vh;
        margin-top: 0;
        padding: 0;

        list-style-type: none;
        grid-template-columns: 1fr;
    }

    &__item a {
        text-decoration: underline;

        color: #436ebd;

    
    }

    &__item {
        margin-bottom: 20px;

        text-align: left;

        & a:hover {
            color: #b80000;
        }
    }

    &__title {
        display: grid;
        align-items: center;

        margin: 0;
        padding: 0;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 150px;

        & h3 {
            margin: 0;
            padding: 0;
            padding-bottom: 16px;
            font-size:24px;
            border-bottom: 1px solid #999;
        }
    }


    &__date {
        display: flex;

        margin-top: 10px;
        margin-bottom: 10px;

        font-size: 12px;
    }
}