.sidebar {
	position: fixed;
	z-index: 200;

	display: grid;
	justify-content: center;
	width: 20%;
	height: 100%;
	margin-top: 50px;
	color: #000;
	background-color: #F7F7F7;
	box-shadow: 0 0 1px 0;
}

@media (max-width: 750px) {
	.sidebar {
		display: none;

		transition: all 0.2s;
	}
}


@media (max-width: 1315px) {
	.sidebar {
	justify-content: center;
	}
}


.mobileBar {
	justify-content: center;
	white-space: nowrap;
	display: grid;
	width: 100%;
}