.sidebar {
    display: grid;
    justify-content: center;
    margin-top: 50px;
    position:fixed;
    z-index: 1;
    background-color: transparent;
    color: #000;
    width: 20%;

}

@media (max-width: 630px) {
    .sidebar {
        opacity: 0;
        transition: all 0.2s;

    }
}


.menu {

    display:grid;

    text-align: center;
    align-items: center;
}