.sidebar {
	position: fixed;
	z-index: 1;

	display: grid;
	justify-content: center;

	width: 20%;
	margin-top: 50px;

	color: #000;
	background-color: transparent;
}

@media (max-width: 630px) {
	.sidebar {
		display: none;

		transition: all 0.2s;
	}
}

.menu {
	display: grid;
	align-items: center;

	margin-top: 50px;

	text-align: center;
}
