
@import '../../../../styles/variables@media.scss';
.container {
    display:grid;
    width: 100%;
    justify-content: center;
    

}


.test {
    height: 300px;
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    &__content {
        background-image: url('/images/quizCard/test.png');
        grid-template-columns: minmax(200px, 350px);
        display: grid;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: 1px solid black;
        height: 250px;
        text-align: center;
    }
 &__title {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

&__score {
    margin-top: 10px;
}
}


.activeCard { 
    background-image: url('/images/quizCard/test_active.png');
}

.noneActive {

}

.start {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: all .3s;
    &:hover  {
        color: #999;
    }
}


.nice {
    color: rgb(2, 212, 2);
  }
  
  .middle {
   color: rgb(208, 230, 35);
  }
  
  .bad {
    color: rgb(245, 162, 9);
  
  }
  .bad_bad {
    color: rgb(221, 37, 37);
  
  }
  
  .veryBad {
    color: rgb(221, 37, 37);
  }







@media (max-width:1050px    ) {

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .test {
        min-width: 200px;
        height: 250px;

        &__content {
        min-width: 200px;
        height: 200px;
        }
    }
}

@media (max-width:#{$screen_mobile_785}) {

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .test {
        min-width: 300px;
        height: 360px;

        &__content {
        min-width: 300px;
        height: 300px;
        }
    }
}

@media screen and (max-width: #{$screen_mobile_400}) {
    .test {

        &__content {
            min-width: 100vw;
            margin-left: calc(-50vw + 50%);
    
            border-right: none;
    
            border-left: none;
            border-radius: 0%;
        }
        
    }


}