
@import '../../../../styles/variables@media.scss';
.container {
    display:grid;
    width: 100%;
    justify-content: center;

}


.test {
    height: 300px;
    display: grid;
    margin-left: 10px;
    margin-right: 10px;

   
    &__content {
        background-image: url('/images/quizCard/test.png');
        grid-template-columns: minmax(200px, 1fr);
        display: grid;
        width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: 1px solid black;
        height: 240px;
        text-align: center;

        a {
            width: 100%;
            height: 100%;
        }
    }
 &__title {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

&__score {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 10px;
    span {
        padding-left: 5px;
    }
}
}




.activeVeryBadCard {
    background-image: url('/images/quizCard/test_active_very_bad.png');

}

.activeNiceCard { 
    background-image: url('/images/quizCard/test_active_nice.png');
}

.activeBadCard {
    background-image: url('/images/quizCard/test_active_bad.png');

}
.activeMiddleCard {
    background-image: url('/images/quizCard/test_active_middle.png');

}

.noneActive {

}

.start {
    padding-top: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: all .3s;
    &:hover  {
        color: #999;
    }
}


.nice {
    color: rgb(2, 212, 2);
  }
  
  .middle {
   color: rgb(208, 230, 35);
  }
  
  .bad {
    color: rgb(245, 162, 9);
  
  }
  .bad_bad {
    color: rgb(221, 37, 37);
  
  }
  
  .veryBad {
    color: rgb(221, 37, 37);
  }




  @media (max-width:1560px    ) {

    .container {

        height: 100%;
        display: flex;
        justify-content: center;
    }
    .test {
        min-width: 250px;
        height: 300px;



        &__content {
        min-width: 200px;
        height: 280px;
        }
    }
}



@media (max-width:1050px    ) {

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .test {
        min-width: 200px;
        height: 300px;

        &__content {
        min-width: 200px;
        height: 250px;
        }
    }
}

@media (max-width:#{$screen_mobile_785}) {

    .block_link {
        height:100%;
        width: 100%;
    
        a {
            height: 5vh;
            width: 100%;
        }
    }
    .container {

        height: 100%;
        display: flex;
        justify-content: center;
    }
   
    
}


@media screen and (max-width: #{$screen_mobile_500}) {
    .test {
        &__content {
            min-width: 280px;
            min-height: 280px;
            border-radius: 0%;
        }

        &__score {
            padding-top: 15px;
        }
        
    }


}


@media screen and (max-width: #{$screen_mobile_400}) {
    .test {
        height: 380px;
        margin-bottom: 100px;
        &__content {
            height: 360px;
            min-width: 100vw;
            margin-left: calc(-50vw + 50%);
    
            border-right: none;
    
            border-left: none;
            border-radius: 0%;
        }
        
    }


}