@import "./variables.css";
@import "./markdown.css";
@import "./tags/tag_js.css";
@import "./tags/tag_ts.css";
@import "./tags/tag_next.css";
@import "./tags/tag_react.css";
@import "./page_link_next_prev_edit.css";
@import "./page_menu.css";
@import "./loader.css";


html {
	overflow-x: hidden;

	margin-right: calc(-1 *(100vw - 100%));
}

body {
	position: relative;

	margin: 0;
	padding: 0;

	/* stylelint-disable-next-line max-line-length */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 18px;
	line-height: 1.7;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: white;
		background: black;
	}

} */
