html,
body {
	margin: 0;
	padding: 0;

	/* stylelint-disable-next-line max-line-length */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: white;
		background: black;
	}
}


.tag {
	text-decoration:underline;
	color: blue;
}

.tag:active {
	color: red;
}

.miniTag {
	font-size: 14px;
	text-decoration:underline;
	color: blue;
	display: inline;
	margin-right: 5px;
}

.miniTag:active {
	color: red;
}

.img {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px 0;
}