html {
	overflow-x: hidden;
	margin-right: calc(-1 *(100vw - 100%));
}
body {
	position: relative;
	font-size: 17px;
	margin: 0;
	padding: 0;

	/* stylelint-disable-next-line max-line-length */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: white;
		background: black;
	}
	
} */



/* body markdown files*/
.tag {
	display: inline-block;
	color: rgb(244, 96, 224);
	font-size: 16px;
}

.tag:hover {
	color: rgb(94, 28, 85);
}

.miniTag {
	font-size: 14px;
	color: rgb(244, 96, 224);
	display: inline;
	margin-right: 5px;
}

.miniTag:hover {
	color: rgb(94, 28, 85);
}

.img img {
	max-width: 100%;
	height: auto;
}

.img {
	display: grid;
 	grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));

}

.container-img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}

pre{
	font-size: 14px;
}
