.loader {
	position: absolute;
	right: 0;

	display: inline-block;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	margin-right: 100px;

	animation: rotation 1s linear infinite;

	border-top: 3px solid #FFF;
	border-right: 3px solid transparent;
	border-radius: 50%;
}



@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@media (max-width: 985px) {
	.loader {
		left: 0;

		margin-right: 0;
		margin-left: 50px;
	}
}

@media (max-width: 750px) {
	.loader {
		left: 0;

		width: 20px;
		height: 20px;
		margin-right: 0;
		margin-left: 10px;
	}
}
