.img img {
	max-width: 100%;
	height: auto;
}
.mdTitle {
	margin-top: 50px;
}
.img {
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
	cursor: pointer;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
}
.mdHead {
	margin-bottom: 55px;
}

.imgLogo {
	display: flex;
	justify-content: right;
	margin-top: -70px;

}

.container-imgLogo {
	display: none;
	justify-content: right;
		
}

.container-img {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 50px 0;
}

.container-app {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px 0;
}


.content-app-react {
	border:none;
	border-bottom: 1px solid #20232A;
	width: 100%;
	height:225px;
}


pre {
	font-size: 14px;
}


code {
	border-radius: 10px;
}




@media (max-width:785px) {
	code {
		border-radius: 0px;
	}
	
	
	pre {
		margin-left: calc(-50vw + 50%);
		width: 100vw;
	}
	
	.mdHead {
		padding-right: 14px;
		padding-left: 14px;
		margin-left: calc(-50vw + 50%);
		width: 100vw;
		background-color: #20232A;
		padding-bottom: 15px;
		margin-bottom: 35px;
		
		
	}
	.mdHead h4 {
		padding-top: 15px;
		margin: 0;
		color: #fff;
		
	}

	.mdHead h5 {
		padding-top: 15px;
		margin: 0;
		color: #fff;
		
	}


	.mdTitle {
		margin-top: 0px;
		padding-top: 30px;
		padding-left: 14px;
		padding-right: 14px;
		margin-left: calc(-50vw + 50%);
		width: 100vw;
		color: #fff;
		background-color: #20232A;
		padding-bottom: 15px;
		margin-bottom: -5px
	
	}

	.mdTitle h1 {
		margin: 0;
	}

	
}




