.img img {
	max-width: 100%;
	height: auto;
}

.nonActive {
	font-weight: 400;
}
.mdTitle {
	margin-top: 50px;
}

.img {
	display: grid;

	cursor: pointer;

	box-shadow: 0 5px 10px 0 rgb(0 0 0 / 50%);
	grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
}

.mdHead {
	margin-bottom: 55px;
}

.imgLogo {
	display: flex;
	justify-content: right;

	margin-top: -70px;
}

.container-imgLogo {
	display: none;
	justify-content: right;
}

.md_date {
	font-size: 15px;
}

.container-img {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 50px 0;
}

.container-app {
	display: flex;
	align-items: center;
	justify-content: center;

	border-bottom: 1px solid #20232A;
}

.content-app-react {
	width: 100%;
	height: 225px;

	border: none;
}

.content-app-ajax {
	width: 320px;
	height: 210px;

	border: none;
}

.content-app-slider-js {
	width: 700px;
	height: 550px;

	border: none;
}

pre {
	font-size: 14px;
}

code {
	border-radius: 10px;
}

@media (max-width: 785px) {
	code {
		border-radius: 0;
	}


	pre {
		width: 100vw;
		margin-left: calc(-50vw + 50%);
	}

	.btnTop {
		position: absolute;
		display: flex;
		
	}

	.mdHead {
		width: 100vw;
		margin-bottom: 35px;
		margin-left: calc(-50vw + 50%);
		padding-right: 14px;
		padding-bottom: 15px;
		padding-left: 14px;

		background-color: #20232A;
	}

	.mdHead h4 {
		margin: 0;
		padding-top: 15px;

		color: #FFF;
	}

	.mdHead h5 {
		margin: 0;
		padding-top: 15px;

		color: #FFF;
	}

	.mdTitle {
		width: 100vw;
		margin-top: 0;
		margin-bottom: -5px;
		margin-left: calc(-50vw + 50%);
		padding-top: 30px;
		padding-right: 14px;
		padding-bottom: 15px;
		padding-left: 14px;

		color: #FFF;
		background-color: #20232A;
	}

	.mdTitle h1 {
		margin: 0;
	}
}
