.img img {
	max-width: 100%;
	height: auto;
}

.img {
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
	cursor: pointer;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
}


.container-img {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 50px 0;
}

pre {
	font-size: 14px;
}

code {

	border-radius: 10px;
}



@media (max-width:785px) {
	.mdHead {
		padding-right: 30px;
		padding-left: 30px;
		margin-left: calc(-50vw + 50%);
		width: 100vw;
		background-color: #20232A;
		padding-bottom: 15px;
		margin-bottom: 30px;
		
	}
	.mdHead h4 {
		padding-top: 15px;
		margin: 0;
		color: #fff;
		
	}

	.mdHead h5 {
		padding-top: 15px;
		margin: 0;
		color: #fff;
		
	}


	.mdTitle {
		padding-top: 30px;
		padding-left: 30px;
		padding-right: 30px;
		margin-left: calc(-50vw + 50%);
		width: 100vw;
		color: #fff;
		background-color: #20232A;
		padding-bottom: 15px;
	
	}

	.mdTitle h1 {
		margin: 0;
	}

	
}

