.page_footer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	white-space: nowrap;
}

.page_footer a {
	width: 190px;
}

.a_none {
	text-decoration: none;
}

.page_edit {
	display: flex;
	justify-content: right;
	margin-top: 80px;
	margin-bottom: 100px;
	white-space: nowrap;
	font-size: 16px;
}



.mainFooter a {
	color: var(--main_color_links_pages);
}
.mainFooter a:hover {
	color: var(--main_hover_color_links_pages);
	box-shadow: 0 0.7px 0 0;
}

.mainFooter a:focus {
	color: var(--main_color_links_pages);
}
.mainFooter a {
	box-shadow: 0 0.3px 0 0;
}



.mainEdit a {
	color: rgb(77 77 77);
	box-shadow: 0 0.2px 0 0;
}

.mainEdit a:hover {
	box-shadow: 0 0.7px 0 0;
}


@media (max-width:785px) {
	
	.mainFooter a:active {
		color: var(--main_color_links_pages_mobile);
	}
	
	
}

@media (max-width: 500px) {
	.mainFooter a {
		border-bottom: 1px solid var(--main_color_links_pages);
		box-shadow: 0 0 0 0;
	}
}



@media (max-width: 550px) {
	.page_footer {
		flex-direction: column;
	}

	.page_edit {
		justify-content: left;
		margin-top: 50px;
		margin-bottom: 60px;
	}
}
