.page_content {
	text-align: center;
}


.page_content span {
	font-size: 14px;
}



.page_menu {
	margin-bottom: 50px;
	display: grid;
	margin-top: 50px;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 30px;
}

.page_menu button {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 785px) {
	.page_menu {
		margin-top: -50px;
	}

	.page_content h2 {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	
}

.page_body {
	display: grid;
}

.page_body h1 {
	margin-top: 25px;
}

@media (max-width: 785px) {
	.page_menu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 15px;
	}

	.page_body h1 {
		margin-bottom: 50px;
	}
	


	.page_content span {
		display: none;
	}
}

