
.page_content {
	text-align: center;
}

.page_content span {
	font-size: 14px;
}
.page_content h2 {
	margin-bottom: 10px;
	margin-top: 0;
}


.page_menu {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;

	gap: 30px;
}

.page_menu button {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width:700px) {
	.page_menu {
		margin-top: -50px;
	}
	
}

.page_body {
	display: flex;
	justify-content: center;
}
@media (max-width: 700px) {
	.page_menu {
		justify-content: center;
		display: flex;
		flex-direction: column;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 15px;
	}
	.page_content h2 {
		display: none;
	}
	.page_content span {
		display: none;
	}

}


