@import "./variables@media.scss";

h2,
h3,
h4 {
	margin-top: -16px;
	margin-bottom: 16px;
	padding-top: 16px;

	color: rgb(36 36 36 / 89%);
}

.page__text {
	padding: 5px;

	text-align: left;

	background-color: rgb(153 153 153 / 49.5%);
}

.page__title {
	font-size: 24px;
	text-align: left;
}

.page_content {
	scroll-behavior: auto;

	text-align: center;
}

.page_content h2 {
	margin-bottom: 0;

	font-size: 35px;
}

.page_content span {
	font-size: 14px;
}

.page_menu {
	display: grid;

	margin-bottom: 50px;
	scroll-behavior: auto;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 30px;
}

.page_menu button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.page_body {
	display: grid;
}

.page_body h1 {
	font-size: 25px;
}

.page__text {
	margin: 0;
	margin-bottom: 25px;
}

.page__title_main {
	text-align: left;
	padding-top: 50px;
}


.content_list {
	display: grid;
	justify-content: flex-start;
	text-align: left;
	font-weight: 400;
	
	li {
		color: gray;
		padding:15px 5px;
		font-size: 16px;
		a {
			color: #436ebd;
			&:hover {
				color: #b80000;
				text-decoration: underline;
			}
		}
	
	}
}

.navUrlLink {
	color: #436ebd;
	font-size: 14px;

	&:hover {
		color: #b80000;
		text-decoration: underline;
	}
}

.navUrlContent {
	display: flex;
}

.navUrl {
	margin-top: 55px;
	display: grid;
	justify-content: left;

		margin-bottom: 25px;
		padding-bottom: 10px;

		border-bottom: 1px solid rgb(0 0 0 / 25.3%);
}

.slash {
	font-size: 16px;
}


@media screen and (max-width: #{$screen_mobile_785}) {
	.page_content h2 {
		margin-top: 50px;
	}

	.page_menu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 15px;
	}

	
}
