.page_footer {
    color:var(--js_color_links_pages);
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    white-space: nowrap;


}

.page_footer a {
    width: 190px;
}

.a_none {
    text-decoration: none;
}

.page_edit {
    display: flex;
    justify-content: right;
    margin-top: 80px;
    margin-bottom: 100px
}


@media (max-width:550px) {
    .page_footer {
        flex-direction: column;

    }
    
    .page_edit {
        justify-content: left;
        margin-top: 50px;
        margin-bottom: 60px;
    }
    
}

