:root {
    /* js */
    --js_color_links_pages:#e9a12c;
    --js_hover_color_links_pages:#f44336;
    /* ts */
    --ts_color_links_pages:#3178c6;
    --ts_hover_color_links_pages:#3147c6;
    /* react */
    --react_color_links_pages:#61dafb;
    --react_hover_color_links_pages:#00ffee;
    /* next */
    --next_color_links_pages:#000;
    --next_hover_color_links_pages:gray;
}