
@import './variables@media.scss';
:root {
	--basic_color: #20232A;

	/* main */

	--main_color_links_pages: rgb(146 94 94);
	--main_hover_color_links_pages: rgb(100 51 51);

	/* js */
	--js_color_links_pages: #E9A12C;
	--js_hover_color_links_pages: #F44336;
	--js_color_links_pages_mobile: #F5DE19;

	/* ts */
	--ts_color_links_pages: #3178C6;
	--ts_hover_color_links_pages: #3147C6;

	/* react */
	--react_color_links_pages: #61DAFB;
	--react_hover_color_links_pages: #0FE;

	/* next */
	--next_color_links_pages: #000;
	--next_hover_color_links_pages: gray;

	/* node js */
	--node_color_links_pages: #6da72a;
	--node_hover_color_links_pages: #3d5d19;
	



	/* layout */
	--sidebar300: 295px;
	--sidebar250:250px;
	--wrapperSides: 295px;
	--wrapper:1180px;
	--grid_gap: 0 15px;
	--grid_columns_wrapper: var(--wrapperSides) minmax(600px, var(--wrapper)) var(--wrapperSides);
	--grid_columns_wrapper_without_right_side: 250px minmax(45%, 1180px); 
	--grid_columns_wrapper_mobile: minmax(250px, 800px); 
}
