.menu {
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	grid-template-rows: 1fr 1fr auto;

	gap: 30px;
}


.body {
	display: flex;
	justify-content: center;
}
@media (max-width: 700px) {
	.menu {
		justify-content: center;
		display: flex;
		flex-direction: column;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 15px;
	}

}


