.menu {
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	grid-template-rows: 1fr 1fr auto;

	gap: 30px;
}

@media (max-width: 700px) {
	.menu {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 15px;
	}
}
