@import "../../../../styles/variables@media.scss";

.btn {
	position: fixed;
	z-index: 300;
	right: 20px;
	bottom: 44px;

	display: none;

	width: 60px;
	height: 60px;

	border: 1px solid rgb(255 255 255 / 25%);
	border-radius: 50%;
	background-color: rgb(32 35 42);
	box-shadow: rgb(0 0 0 / 35%) 0 0 20px;

	-webkit-tap-highlight-color: rgb(255 255 255 / 0%);
	-webkit-tap-highlight-color: transparent;

	&__content {
		margin-right: auto;
		margin-left: auto;
		padding-right: 20px;
		padding-left: 20px;
	}

	@media (max-width: #{$screen_mobile_785}) {
		& {
			display: flex;
			align-items: center;
			justify-content: center;

			cursor: pointer;
		}
	}
}

.svg {
	display: flex;
	flex-direction: row;

	height: 30px;
	margin: 0;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
}

.arrow_top svg {
	margin-top: 2px;

	transition: -webkit-transform 0.2s ease 0s, transform 0.6s ease 0s;
	transform: translate(0, 0) rotate(-90deg);
	fill: var(--main_color_links_pages);
}

.arrow_down svg {
	transition: -webkit-transform 0.2s ease 0s, transform 0.6s ease 0s;
	transform: translate(0, 0) rotate(90deg);
	fill: var(--main_color_links_pages);
}

.arrow_top_true svg {
	transform: translate(0, 13px) rotate(-90deg);
}

.arrow_down_true svg {
	transform: translate(0, -13px) rotate(90deg);
}

.arrows {
	display: flex;
	align-self: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;

	flex-direction: column;
}

.arrows_js svg {
	fill: var(--js_color_links_pages_mobile);
}

.arrows_react svg {
	fill: var(--react_color_links_pages);
}

.arrows_ts svg {
	fill: var(--ts_color_links_pages);
}

.arrows_node svg {
	fill: var(--node_color_links_pages);
}
