.btn {
	position: fixed;
	z-index: 300;
	right: 0;
	bottom: 0;
	display: none;
	width: 70px;
	height: 70px;
	margin-right: 20px;
	margin-bottom: 55px;
	border: 1px solid rgb(255 255 255 / 10%);
	border-radius: 100%;
	background-color: rgb(32 35 42);
	box-shadow: rgb(0 0 0 / 30%) 0 0 20px;
}

@media (max-width: 785px) {
	.btn {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
}

.svg {
	display: flex;
	justify-content: center;
	align-items: center;
}
